<h2>poslednie posty:</h2>
<br />
<% @results.each do |post| %>
	<p>
		<%= post['content'] %>
		<br />
		dobavlen v <%= post['created_date'] %>
		<br />
<!-- 		dobavlyaet individualnuyou ssylku k kagdomu postu
 -->		
 <a href="/details/"<%= post['id'] %>">Comments</a>"
	</p>
<!-- 	 <hr /> -teg,razdelyayoushiy podcherkivaniem posty
 -->	
 <hr />
<% end %>