<h2>dobavit novi post</h2>
<p>
	<form action="/new" method="post">
	<textarea name="content" class="form-control" rows="6" placeholder="napishite text syouda"></textarea>
	<br /> 
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>